<ul class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand px-3" href="#">hypixel.lol</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/dashboard"><i class="bi bi-person-fill"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                      <a class="nav-link active dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" href="#"><i class="bi bi-gear-fill"></i> Configure</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/dashboard/domain">Configure domains</a></li>
                        <li><a class="dropdown-item" href="/dashboard/embed">Configure embeds</a></li>
                        <li><a class="dropdown-item" onclick="downloadConfig()" href="#">Download your config</a></li>
                        <textarea id="config-result" style="display: none;" readonly></textarea>
                      </ul> 
                    </div> 
                </li>
                <li class="nav-item">
                  <a type="button" href="/dashboard/gallery" class="nav-link"><i class="bi bi-image-fill"></i> Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="logout()" href="#"><i class="bi bi-box-arrow-right"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
  </ul>

  <script>
    function logout() {
            fetch('/logout', { method: 'GET' })
              .then(() => window.location = '/');
          }
  </script>