<!DOCTYPE html>
<html lang="en">
    <head>
        <title>hypixel.lol</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/obf6rgz.css">        
    </head>
    <body>
        <div class="center">
            <div class="card" style="width: 600px!important;">
                <div class="card-content" style="font-size: 1rem;">
                    <h1 class="card-title" style="margin-bottom: 0px!important; margin-top: 0px;">hypixel.lol API Documentation</h1>
                    <div style="margin-bottom: 10px">
                        <p style="margin: 0;">Get our domains in a list</p>
                        <p style="margin: 0;">Send a <code>GET</code> request to <code class="code-snippet">/api/domains</code></p>
                        <p style="margin: 0;">You will recieve a JSON list with our avaliable domains</p>
                        <p style="margin: 0;">Response:</p>
                        <code class="code-snippet">
                            ["localhost"]
                        </code>
                    </div>
                    <div style="margin-bottom: 10px">
                        <p style="margin: 0;">Get uploaded files from upload key</p>
                        <p style="margin: 0;">Send a <code>GET</code> request to <code class="code-snippet">/api/uploads/uploadkeyhere</code></p>
                        <p style="margin: 0;">You will recieve a JSON list with the links</p>
                        <p style="margin: 0;">Response(s):</p>
                        <p>Success:</p>
                        <code class="code-snippet">
                            ["http://localhost/uploads/example"]
                        </code>
                        <br>
                        <p>Failure:</p>
                        <code class="code-snippet">
                            {"response":"fail","reason":"no uploads found","status":404}
                        </code>
                    </div>
                </div>
                <!--<div class="card-footer">
                    <a href="/config" class="button button-block">Config Generator</a>
                </div>-->
            </div>
        </div>        
    </body>
</html>