<!DOCTYPE html>
<html lang="en">
    <head>
        <title>hypixel.lol - Generate key</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/obf6rgz.css">        
    </head>
    <body>
        <div class="center">
            <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-content">
                    <h1 class="card-title" style="margin-bottom: 0px!important; margin-top: 0px;">Register</h1>
                    <p style="margin: 0;">Get yourself a key!</p>
                    <br>
                      <div class="input-group mb-2">
                        <form action="/gen" method="post">
                            <input type="text" name="name" id="name" class="custom-input" style="color: #9b9b9b!important;" placeholder="Username" required>
                            <br>
                            <br>
                            <input type="submit" class="button btn-block mt-2" style="color: white; font-size: 10px;" value="Register">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>         
    </body>
</html>