<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Setup - hypixel.lol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/obf6rgz.css">        
    </head>
    <body>
        <div class="center">
            <div class="card">
                <div class="card-content" style="font-size: 1.35rem;">
                    <h1 class="card-title" style="margin-bottom: 5px!important; margin-top: 0px;">hypixel.lol Setup</h1>
                    <p style="margin: 0;"><%= message %></p>
                </div>
                <div class="card-footer">
                    <a href="/setup/start" style="margin: 20px;" class="button button-block">Start setup</a>
                </div>
            </div>
        </div>
    </body>
</html>