<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Setup - hypixel.lol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/obf6rgz.css">        
    </head>
    <body>
        <div class="center">
            <div class="card" style="width: 500px!important;">
                <div class="card-content" style="font-size: 1.35rem;">
                    <h1 class="card-title" style="margin-bottom: 5px!important; margin-top: 0px;">hypixel.lol Setup</h1>
                    <form id="configForm" method="post" action="/setup/submit">
                        <div class="form-group">
                            <label for="maindomain">Main Domain Name:</label>
                            <input type="text" id="maindomain" name="maindomain" required>
                        </div>
                
                        <div class="form-group">
                            <label for="uploadkeylength">Upload Key Length:</label>
                            <input type="number" id="uploadkeylength" name="uploadkeylength" required max="50">
                        </div>
                
                        <div class="form-group">
                            <label for="serverport">Server Port:</label>
                            <input type="number" id="serverport" name="serverport" required max="65535">
                        </div>
                
                        <div class="form-group">
                            <label for="uploadNotify">Notify upload in console:</label>
                            <input type="checkbox" id="uploadNotify" name="uploadNotify">
                        </div>
                
                        <div class="form-group">
                            <label for="webhookNotify">Discord Webhooks:</label>
                            <input type="checkbox" class="toggle-checkbox" data-target="discordWebhookOptions" name="webhookNotify">
                        </div>
                
                        <div id="discordWebhookOptions" style="display: none;">
                            <div id="webhookOptions" class="form-group">
                                <label for="discordWebhook">Webhook URL:</label>
                                <input type="url" id="discordWebhook" name="discordWebhook">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="loginNotify">Discord login:</label>
                            <input type="checkbox" class="toggle-checkbox" data-target="discordLoginOptions" name="loginNotify">
                        </div>

                        <div id="discordLoginOptions" class="form-group" style="display: none;">
                            <div id="loginOptions" class="column">
                                <div class="form-group">
                                    <label for="clientID">Client ID:</label>
                                    <input type="text" id="clientID" name="clientID">
                                </div>
                
                                <div class="form-group">
                                    <label for="clientSecret">Client Secret:</label>
                                    <input type="text" id="clientSecret" name="clientSecret">
                                </div>
                
                                <div class="form-group">
                                    <label for="callbackURL">Callback URL:</label>
                                    <input type="url" id="callbackURL" name="callbackURL">
                                </div>
                            </div>
                        </div>
                
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
        <script>
            const toggleCheckboxes = document.querySelectorAll('.toggle-checkbox');
    
            toggleCheckboxes.forEach(toggleCheckbox => {
                toggleCheckbox.addEventListener('change', function() {
                    const targetId = this.getAttribute('data-target');
                    const targetOptions = document.getElementById(targetId);
                    
                    if (targetOptions) {
                        targetOptions.style.display = this.checked ? 'block' : 'none';
                    }
                });
            });
        </script>
    </body>
</html>