<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Setup - hypixel.lol</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="https://use.typekit.net/obf6rgz.css">        
    </head>
    <body>
        <div class="center">
            <div class="card">
                <div class="card-content" style="font-size: 1.35rem;">
                    <h1 class="card-title" style="margin-bottom: 5px!important; margin-top: 0px;">hypixel.lol Setup</h1>
                    <p style="margin: 0;">Successfully set up! Restart the server using the <bold>(Ctrl + C, then Enter)</bold> key combination, then refresh the page!</p>
                </div>
            </div>
        </div>
    </body>
</html>